button{
  border:none;
  background-color: inherit;
  cursor: pointer;
}

.toggle.active{
  transform: rotate(90deg);
}

.block{
  background-color: bisque;
}

.item__fiexed{
  background-color: bisque;
}