.document-list-empty-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 27px;
  margin: 1px 0;
  padding: 2px 10px;
  border-radius: 3px;

  color: #bcbcbb;
  font-size: 14px;
  font-weight: 400;
}

.document-list-empty-item a {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
