@import '@/index.css';

.title {
  font-size: 2rem;
}

.title,
.content {
  padding: 0 5rem;
  outline: none;
  border: none;
}

.title::placeholder,
.content::placeholder {
  color: var(--more-light-grey);
}

.content {
  line-height: 2rem;
  font-family: 'Pretendard-Regular';
}
