{
  "extends": ["eslint:recommended", "plugin:jest/recommended"],
  "plugins": ["jest", "babel"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "env": {
    "browser": true,
    "es2021": true,
    "jest/globals": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@", "./src"],
          ["@api", "./src/api"],
          ["@components", "./src/components"],
          ["@constants", "./src/constants"],
          ["@domain", "./src/domain"],
          ["@pages", "./src/pages"],
          ["@utils", "./src/utils"]
        ],
        "extensions": [".js"]
      }
    }
  }
}
