{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 120,
  "endOfLine": "auto",
  "formatOnSave": true,
  "importOrder": [
    "^@api/(.*)$",
    "^@components/(.*)$",
    "^@constants/(.*)$",
    "^@domain/(.*)$",
    "^@pages/(.*)$",
    "^@utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
