html,
body {
  width: 100vw;
  height: 100vh;
}

header {
  text-align: center;
  margin: 7%;
  padding: 3%;
  background-color: #eef3ed;
}

ul {
  padding-left: 20px;
}
li {
  font-weight: 600;
  margin: 15px;
  list-style-type: none;
  margin-bottom: 7%;
}

.postContainer {
  width: 700px;
  height: 92%;
  margin: 2% 0;
  background-color: #eef3ed;
  padding: 2%;
  border: 3px dashed #a48bbe;
  border-radius: 10px;
}
.editor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  height: 70px;
  font-size: x-large;
  margin-bottom: 1%;
}

.content {
  height: 100%;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
}

div {
  box-sizing: border-box;
}

.sidebarContainer {
  width: 400px;
  height: 92%;
  margin: 2% 0;
  background-color: #faf3dd;
  border: 3px dashed #a48bbe;
  border-radius: 10px;
}

.addDocumentBtn {
  background-color: #faf3dd;
  border: none;
  width: 100%;
  height: 3%;
  margin-top: 2%;
  font-size: medium;
  cursor: pointer;
}
.addDocumentBtn:hover {
  background-color: #c29243;
}

.documentTitle {
  margin: 0 5%;
  padding: 2% 5%;
  border-radius: 10px;
  cursor: pointer;
}
.documentTitle:hover {
  background-color: #c29243;
  user-select: none;
}

.toggleBtn {
  font-size: medium;
  background-color: #faf3dd;
  border: none;
  cursor: pointer;
}
.add,
.delete {
  cursor: pointer;
  margin-left: 10px;
  font-size: medium;
  border: none;
}
