body {
  margin: 0;
  padding: 0;
  background-color: rgb(229, 229, 229);
}

button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
}

span {
  cursor: pointer;
}

button:hover {
  background-color: white;
  border-radius: 5px;
  font-weight: bolder;
}

li {
  padding: 10px 5px 10px 5px;
}

li:hover {
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
}

input {
  width: 50vw;
  height: 5vh;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  outline: none;
}

textarea {
  width: 50vw;
  height: 50vh;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  outline: none;
  margin-top: 10px;
}

.contentWrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.post-edit-container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-side-bar-container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-button {
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

.editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 50px 0px 50px;
}
