:root {
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-black: #000000;
}

body {
  margin: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

main {
  height: 100vh;
  max-width: 100vw;
  display: flex;
}

#sideBar {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-white);
}

#sideBar_header {
  flex-basis: 10%;
  background-color: var(--color-dark-white);
}

#sideBar_title {
  flex-basis: 10%;
  background-color: var(--color-light-grey);
  display: flex;
  justify-content: space-between;
}

#sideBar_title_text {
}

#addRootDocumentButton {
}

#sideBar_documentList {
  flex-basis: 80%;
  background-color: var(--color-dark-grey);
}

.documentItem {
  display: flex;
  flex-direction: column;
}

.documentContent {
  display: flex;
}

.childDocumentList {
  display: flex;
  flex-direction: column;
}

#editPage {
  flex-basis: 85%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-white);
}

#title {
  flex-basis: 20%;
}

#content {
  flex-basis: 80%;
}
