.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
}

.childList {
  padding-left: 1rem;
}
