.header {
  font-size: 1.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.5rem;
  transition: all 300ms ease-in-out;
}

.container:hover {
  background-color: lightgray;
}

.active {
  background-color: lightgray;
  color: #efeef1;
}

.content {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.dropDown {
  padding-right: 0.3rem;
  transition: all 300ms ease-in-out;
}

.dropDown:hover {
  color: #9c93d1;
  transform: scale(1.3);
  transform: rotate(90deg);
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}

.container:hover .buttons {
  visibility: visible;
  opacity: 1;
}

.add {
  margin-left: 0.2rem;
}

.add,
.delete {
  border-radius: 100%;
  padding: 0.1rem;
  color: #efeef1;
  transition: all 300ms ease-in-out;
}

.add:hover {
  transform: scale(1.1);
  background-color: #9c93d1;
}

.delete:hover {
  /* transform: scale(1.1); */
  background-color: #f2a6be;
}

.childList {
  padding-left: 1rem;
  display: none;
}

.down {
  transform: rotate(90deg);
}

.open {
  display: block;
}

.footer {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.5rem;
  transition: all 300ms ease-in-out;
}

.footer:hover {
  background-color: lightgray;
}

.rootAdd {
  flex-direction: column;
  align-self: self-end;
}
