@import '@/index.css';

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 95% 5%;
}

.content {
  display: grid;
  grid-template-rows: 20% 50% 30%;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 2rem;
}

.purple {
  color: var(--purple);
}

.pink {
  color: var(--pink);
}

.imageContainer {
  height: 100%;
  display: flex;
  justify-content: center;
}

.homeImage {
  max-height: 100%;
  object-fit: cover;
}

.description {
  color: var(--purple);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 0.5rem;
}
