.container {
  height: 100%;
  display: grid;
  grid-template-rows: 7% 73% 5% 10% 5%;
}

.header {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.Editor {
  display: grid;
  grid-template-rows: 10% 10% 80%;
  padding: 1rem 0;
}

.subListTitle {
  padding: 0 5rem;
}

.childPosts {
  overflow: auto;
}
