* {
  box-sizing: border-box;
  outline: none;
}

#sideBar {
  float: left;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 226px;
  background-color: #f7f7f5;
  color: #72716d;
  font-weight: 500;

  padding: 20px 2px;
}

.listItem {
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.listItem:hover {
  background-color: #e7e7e5;
}

#contentSection {
  float: left;
  width: calc(100% - 226px);
  padding: 80px;
}

#editor {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#title {
  border: none;
  font-weight: 900;
  font-size: 40px;
}

#content {
  font-size: 16px;
  border: none;
  resize: none;
  width: 100%;
  height: 80vh;
}
