@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
@import 'reset.css';

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  color: #4e4e4e;
}

body {
  width: 100%;
  height: 100vh;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
body::-webkit-scrollbar-button {
  display: none;
}

ul {
  padding: 0rem 2rem;
}

li {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  display: inline-block;
  max-width: 300px;
}

#app {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* Sidebar */
.sidebar-document__area {
  flex: 3;
  height: 100vh;
}

.sidebar-document {
  height: 100vh;
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  border-right: 1.3px solid rgba(78, 78, 78, 0.4);
}

.user {
  cursor: pointer;
}

.user-notion {
  font-size: 20px;
  font-weight: 700;
}

.tree {
  border-right: 1.3px solid rgba(78, 78, 78, 0.4);
}
.outer-ul {
  margin-bottom: 50px;
}
.documents-tree {
  width: 100%;
}
.documents-tree li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  position: relative;
  max-width: 250px;
}

.documents-tree > li:hover {
  border-bottom: 2px solid #f0f0f0;
}
/* MainEditor */
.edit-document__area {
  flex: 7;
  height: 100%;
}

.edit-document {
  width: 100%;
  height: 100%;
}

.editor {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.editor-title,
.editor-content,
.editor-preview {
  margin-top: 5rem;
  padding: 1rem;
  width: 70%;
  border-radius: 0.5rem;
  border: 2px solid #4e4e4e;
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.editor-content,
.editor-preview {
  margin-top: 1rem;
  height: 80%;
  font-weight: normal;
  line-height: 1.5;
}

/* MainDocumentTree */

.main-documents__tree {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  padding-left: 8rem;
}

.main-documents {
  width: 100%;
}

.main-document {
  font-size: 15px;
}

/* HomePage */
.home-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10rem;
  margin-left: 10rem;
}

.home-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.home-list__text {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
}

/* button */
.add-button,
.delete-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-style: none;
  border-radius: 0.3rem;
  font-size: 15px;
  font-weight: bold;
  padding: 0;
}

.tree > .add-button {
  width: 200px;
  height: 30px;
  border-radius: 0.5rem;
  padding: 0.2rem;
  font-size: 14px;
  margin-left: 0.8rem;
  margin-top: 0.5rem;
  position: fixed;
  bottom: 10px;
  left: 100px;
  transform: translateX(-50%);
}
