@import url("left-section.css");
@import url("right-section.css");

body {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
}
