* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  font-family: 'LINESeedKR-Bd';
  #app {
    margin: 0 auto;
    min-height: 100vh;
  }
}

button {
  border: 0;
  padding: 0;
}

li {
  list-style: none;
}

#app {
  display: grid;
  grid-template-columns: 20% 80%;
}
