* {
  box-sizing: border-box;
}

:root {
  --main-black: #333235;
  --main-white: #efeef1;
  --purple: #9c93d1;
  --pink: #f2a6be;
  --dark-grey: #666666;
  /* --more-light-grey: #d3d3d3;ã„´ */
  --more-light-grey: #eeeeee;
  --light-grey: #b1b2ad;
  --pure-white: #ffffff;
  --bg-sideBar: #fafaf8;
  --border-sideBar-footer: #f6f4f3;
  --dice-sky-blue: #00fbff;
  --dice-yellow: #ffff00;
  --dice-green: #00ff00;
  --dice-orange: #f77c1c;
}

@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-family: 'LINESeedKR-Bd';
}

button {
  border: 0;
  padding: 0;
}

li {
  list-style: none;
}

#app {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 0 auto;
  min-height: 100vh;
}

.modal {
  position: fixed;

  opacity: 0;
  visibility: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 1rem;

  top: 67%;
  left: 20%;

  width: 14rem;
  height: 4rem;

  color: var(--main-white);

  background-color: var(--light-grey);
  transition: all ease-in-out 300ms;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.sideBar {
  display: grid;
  background-color: var(--bg-sideBar);
  grid-template-rows: 7% 88% 5%;
  color: var(--dark-grey);
}
