.notion-document-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;

  padding: 0 12px;
}

.notion-document-header a {
  display: flex;
  align-items: center;
  max-width: 160px;
  height: 20px;
}

.notion-document-header a span {
  display: inline-block;

  padding: 5px 2px;
  border-radius: 3px;

  color: #37352f;
  font-size: 14px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    background-color: #ededeb;
    cursor: pointer;
  }
}

.notion-document-header span {
  color: #37352f;
  font-size: 14px;

  margin: 0 2px;
}
