.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
  padding: 7px;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
}

.header-title {
  padding: 0.3em;
  border-radius: 3px;
  cursor: pointer;
}

.header-title:hover {
  background-color: #e6e6e6;
}

.header-title-divider {
  margin: 0 0.5em 0 0.5em;
  color: #848484;
}
