.dashboard-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-recent-container {
  width: 400px;
  margin-right: 1em;
  padding-bottom: 2em;
}

.dashboard-most-container {
  width: 400px;
  margin-left: 1em;
  padding-bottom: 2em;
}

.dashboard-recent-title {
  font-size: x-large;
}

.dashboard-most-title {
  font-size: x-large;
}

.dashboard-container p[data-id] {
  margin: 0;
  padding: 0.5em 0.3em 0.5em 0.3em;
  cursor: pointer;
}

.dashboard-container p[data-id]:hover {
  background-color: #eeeeee;
}
