:root {
  --nav-bg-color: rgb(251, 251, 250);
  --list-font-color: rgba(25, 23, 17, 0.6);
  --list-btn-hover-color: rgb(224, 224, 222);
  --list-hover-color: rgb(237, 237, 235);
  --edit-font-color: rgb(55, 53, 47);
  --nav-scrollbar-track-color: rgb(237, 236, 233);
  --nav-scrollbar-thumb-color: rgb(211, 209, 203);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--nav-scrollbar-track-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--nav-scrollbar-thumb-color);
}

body {
  height: 100vh;
}

ul {
  list-style: none;
}

#app {
  display: flex;
  height: 100%;
}

nav {
  position: relative;
  min-width: 250px;
  background-color: var(--nav-bg-color);
  overflow-y: auto;
}

nav > .userSection {
  position: fixed;
  width: 229px;
  height: 40px;
  padding-top: 18px;
  padding-left: 11px;
  margin-bottom: 18px;
  background-color: var(--nav-bg-color);
  z-index: 1000;
}

.userSection .user {
  cursor: pointer;
}

.fill {
  width: 240px;
  height: 60px;
}

nav > .documentList {
  color: var(--list-font-color);
}

.documentList .topSpace {
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 5px;
}

.documentList .createRoot {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--list-font-color);
}

.documentList .createRoot:hover {
  background-color: var(--list-btn-hover-color);
}

.documentList .document {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 5px 5px;
  padding-left: calc(5px + var(--depth) * 12px);
}

.documentList .document:hover {
  background-color: var(--list-hover-color);
}

.document .documentTitle {
  display: flex;
  align-items: center;
}

.document .title {
  display: inline-block;
  font-size: 0.9rem;
  width: calc(140px - var(--depth) * 12px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.document .current {
  font-weight: bold;
  color: black;
}

.document .toggle {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: var(--list-font-color);
}

.document .toggle.open {
  transform: rotate(0.25turn);
}

.document .toggle:hover {
  background-color: var(--list-btn-hover-color);
}

.document .createDelete {
  display: flex;
  align-items: center;
}

.document .create, .delete {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--list-font-color);
}

.document .create:hover, .delete:hover {
  background-color: var(--list-btn-hover-color);
}

main {
  min-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0 50px 100px;
  overflow-y: auto;
}

.editor {
  display: flex;
  flex-direction: column;
  color: var(--edit-font-color);
}

.editor input {
  width: 600px;
  padding: 0 10px 10px 10px;
  font-size: 21px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid var(--list-font-color);
  outline: none;
}

.editor textarea {
  width: 600px;
  min-height: 700px;
  padding: 10px;
  resize: none;
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--list-font-color);
}

.documentSubList {
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 20px;
  max-width: 600px;
  min-height: 200px;
  overflow-y: auto;
}

.documentSubList::-webkit-scrollbar {
  width: 10px;
}
.documentSubList::-webkit-scrollbar-track {
  background-color: var(--nav-scrollbar-track-color);
}
.documentSubList::-webkit-scrollbar-thumb {
  background-color: var(--nav-scrollbar-thumb-color);
}

.documentSubList ul {
  list-style: square;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--list-font-color);
}

.documentSubList ul li .title {
  cursor: pointer;
}

.documentSubList ul li .title:hover {
  color: black;
}