@import './styles/index';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  overflow: hidden;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' -25, 'opsz' 20;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  color: #37352f;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 0.25em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: lightgray;
}
