.editorContent {
  padding: 20px;
  resize: none;
  display: flex;
  flex-wrap: wrap;
  background: none;
  border: none;
  width: 40%;
  max-width: 42%;
  min-height: 80vh;
  outline-color: none;
  flex-direction: column;
}

.editorContentWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.editorContainer {
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.editorTitle {
  border: 0;
  padding-left: 25px;
  font-size: 20px;
  font-weight: 700;
}

.editorPreview {
  margin-top: 20px;
  display: flex;
  width: 50%;
  max-width: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
