/* color Info */
:root {
  --main-color: rgb(251, 251, 250);
  --color-lightgray: rgba(237, 236, 232, 0.8);
  --color-black1: rgba(0, 0, 0, 0.5);
  --color-black2: rgba(0, 0, 0, 0.8);
  --color-black3: rgba(0, 0, 0, 0.3);

  --color-blue: rgb(23, 133, 242);
  --color-red: rgb(230, 19, 47);
}

body {
  margin: 0;
}
main {
  display: grid;
  grid-template-columns: 240px 1fr;
  position: relative;
}

/* 리스트 페이지 - 헤더 */
.post-list-header {
  padding: 10px 60px;
}

/* 리스트 페이지 - 리스트 */
.post-list-lists {
  background-color: var(--main-color);
  width: 240px;
  height: 100vh;
}
.post-list-lists button {
  background-color: white;
  margin-right: 5px;
}
.post-list-lists button:hover {
  background-color: var(--color-lightgray);
  cursor: pointer;
  opacity: 1;
}

.add-sub-post-btn {
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
}
.remove-post-btn {
  color: var(--color-red);
  border: 1px solid var(--color-red);
}

.post-list {
  overflow-x: hidden;
  overflow-y: auto;
  height: 80%;

  font-size: 14px;
  color: var(--color-black1);
}

.post-list ul {
  padding-left: 10px;
}
.post-list li {
  display: inline-flex;
  margin: 3px 0px;
  padding: 2px 20px 0px 0px;
  width: 100%;
}
.post-list li:hover {
  font-weight: bold;
  font-size: 15px;
  color: var(--color-black2);
  cursor: pointer;
}
.post-list li button {
  padding: 2px 0px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.post-title {
  flex-grow: 1;

  /* text 넘칠 때 '...' 표시 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

/* 리스트 페이지 - 새 페이지 버튼 */
.add-new-post-btn {
  position: absolute;
  bottom: 0px;
  padding: 0px;

  width: 240px;
  height: 40px;
  font-size: 14px;
  background-color: var(--main-color);

  border: none;
  border-top: 1px solid var(--color-lightgray);
  color: var(--color-black1);
}

.add-new-post-btn:hover {
  background-color: var(--color-lightgray);
  cursor: pointer;
}

/* 편집 페이지 */
.edit-page {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  height: 100vh;
}

/* 폅집 페이지 - 에디터 */
.edit-page-editor {
  display: flex;
  flex-direction: column;
  margin: 100px 150px;

  height: 75vh;
}

.edit-page-editor-title {
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: bold;

  border: none;
  resize: none;
  outline: none;
}

.edit-page-editor-content {
  flex-grow: 1;
  overflow-y: auto;

  font-size: 16px;

  border: none;
  resize: none;
  outline: none;
}
