html,
body,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  line-height: 1;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
}

.editor-section {
  background-color: rgb(113, 105, 156);
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.select-document:hover {
  background-color: rgba(173, 216, 230, 0.356);
}

.editor-default-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:focus {
  outline: none;
}

/* ========================= */
.sidebar-setion {
  width: 30vw;
  height: 100vh;

  min-width: 343px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-setion ul {
  padding-left: 30px;
  margin: 0;
}

.document-button-form button {
  width: 85%;
  height: 100px;
  background: rgb(1, 196, 212);
  border-radius: 10px;
  border: none;

  font-size: 20px;
  font-weight: 700;
  color: aliceblue;

  margin: 30% 5%;

  cursor: pointer;
}

.document-list {
  padding: 0 0 7px 5px;
  max-height: 70%;
  overflow: auto;

  border: 1px solid rgb(175, 174, 174);
  border-right: none;
}

.document-group {
  border-left: solid 2px rgba(30, 175, 201, 0.678);
}

.input-container input {
  border: none;
  border-right: 5px solid rgba(30, 175, 201, 0.678);
  border-left: 1px solid rgba(30, 175, 201, 0.678);
  border-radius: 2px;
  height: 30px;
  box-shadow: 0px 5px 12px 0 rgba(30, 175, 201, 0.278);
}

.input-container button {
  border: none;
  background: rgb(1, 196, 212);
  box-shadow: 5px 5px 5px rgba(30, 175, 201, 0.278);
  cursor: pointer;
  color: white;
}

.select-document {
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
  cursor: pointer;

  white-space: nowrap;
}

.document-list-title {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-document img {
  margin: 0 6px 0 3px;
}

.select-document button {
  border: none;
  background: rgb(1, 196, 212);
  box-shadow: 5px 5px 5px rgba(30, 175, 201, 0.278);
  cursor: pointer;
  color: white;
}

/* ============================== */

.editor-section {
  display: flex;
  justify-content: center;
  background-color: rgb(245, 246, 249);
}
.editor-section input {
  width: 100%;
  height: 10%;
  margin: 20px;

  font-size: 30px;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(1, 196, 212);
}

.editor-section #documentContent {
  width: 100%;
  height: 60%;

  margin: 0 20px;
  background-color: white;
  border: 30px solid rgb(227, 227, 227);

  overflow: auto;
}
:focus {
  outline: none;
}

.document-toolbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 70%;
  height: 40px;
  margin: auto;
}

.document-toolbar button {
  width: 40px;
  height: 40px;
}

.subfolder-view {
  height: 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.subfolder-view div {
  padding-bottom: 3px;
}
